            
        <!-- Awards section --> {{!--This is a partial --}}
        <div class="container clearfix topmargin-sm nobottommargin nopadding">
            <div class="clearfix">

                <div class='col-xs -12 text-center'>
                    <h1 class='color'>Awards</h1></div>

                <div class="col_one_third  bottommargin  text-center" data-animate="fadeIn" data-delay="200">

                    <i class="fa fa-trophy color" style="font-size: 60px;color: red; font-weight: 100;padding-bottom: 15px"></i>

                    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                        <!--		<span class="before-heading">Scalable on Devices.</span> -->
                        <h4 class="text-center">AWARDS TOP WRENCH HALL OF FAME INDUCTEE</h4>
                    </div>
                    <p style='color:black' style="text-center">Top Wrench is an homage to the 'well tuned' mechanic and his craft and a list of the BEST Volvo<sup>&reg;</sup> repair shops in the United States. Foreign Car Service is listed in the Top Wrench Hall of Fame for independent repair shops</p>
                </div>

                <div class="col_one_third bottommargin text-center" data-animate="fadeIn" data-delay="200">
                    <i class="fa fa-trophy color" style=" font-size: 60px; color: #40aae6;font-weight: 300;padding-bottom: 15px"></i>
                    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                        <!--	<span class="before-heading">Smartly Coded &amp; Maintained.</span> -->
                        <h4 class="text-center">HIGHEST RATED BY EXTREME WRENCH</h4>
                    </div>
                    <p style='color:black' class="text-justify">We were recently honored by ExtremeWrench.com as one of the highest rated independent repair shops specializing in the repair of Volvo<sup>&reg;</sup> automobiles.</p>
                </div>
                <div class="col_one_third col_last bottommargin text-center" data-animate="fadeIn" data-delay="200">
                    <i class="fa fa-trophy color" style=" font-size: 60px; color: #40aae6;font-weight: 300;padding-bottom: 15px"></i>
                    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                        <!--	<span class="before-heading">Smartly Coded &amp; Maintained.</span> -->
                        <h4 class="text-center">VOTED BEST VOLVO<sup>&reg;</sup>CAR REPAIR SHOP</h4>
                    </div>
                    <p style='color:black' class="text-justify">Thank you for voting us "BEST VOLVO<sup>&reg;</sup> CAR REPAIR SHOP"!</p>
                </div>



            </div>
        </div>
        <!-- End of awards section -->