 {{!-- This is a section used inside the current view which will be rendered inside the main layout         Chapter 7  OReilly.Web.Development.With.Node.And.Express--}}
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="a_ctive"><a href="/">All</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
                <li>
            <a href="/auth/facebook" style='padding-top:5px; padding-bottom:3px;'>
                <button type="button" class="btn btn-primary navbar-btn"><img style='width:20px' src='../images2/facebook.png'/> Facebook Login</button>
            </a>
       </li>
    </ul>
</div> 