            
        <!-- Awards section --> {{!--This is a partial --}}
        <div class="container clearfix topmargin-sm nobottommargin nopadding">
            <div class="clearfix">

                <div class='col-xs -12 text-center'>
                    <h1 class='color'>Services we Offer</h1></div>

                <div class="col_one_third  bottommargin  text-center" data-animate="fadeIn" data-delay="200">


                    <p style='color:black; font-size:18px' class="text-justify" >AC Systems, Automatic transmissions, Battery testing and replacement, Belts and Hoses, Brake pads and rotors, Complete mechanical service.</p>
                </div>

                <div class="col_one_third bottommargin text-center" data-animate="fadeIn" data-delay="200">
                    
                    
                    <p style='color:black; font-size:18px' class="text-justify">Diagnostics, Factory Scheduled Service, Filter replacement, Fluid maintenance, Fuel system and fuel savings.</p>
                </div>
                <div class="col_one_third col_last bottommargin text-center" data-animate="fadeIn" data-delay="200">
                   
                
                    <p style='color:black; font-size:18px' class="text-justify">Minor services and Oil changes, Mufflers and exhaust, Safety Inspections, Shocks, Struts and suspension.</p>
                </div>



            </div>
        </div>
        <!-- End of awards section -->