            
        <!-- Awards section --> {{!--This is a partial --}}
        <div class="container clearfix topmargin-sm leftmargin text-center" >
            <div class="clearfix">

                <div class='col-xs -12 text-center'>
                    <h1 class='color'>Services we Offer</h1></div>

                <div class="col_one_third  bottommargin-sm " data-animat_e="fadeIn" data-dela_y="0">

                    <ul style='color:black; font-size:18px; display:inline-block;'  class='text-justify' >
                        <li>AC Systems</li>
                        <li>Automatic transmissions</li>
                        <li>Testing and replacement</li>
                        <li>Belts and hoses</li>
                        <li>Brake pads and rotors</li>
                     
                    </ul>
                </div>

                <div class="col_one_third  bottommargin-sm " data-animat_e="fadeIn" data-dela_y="0">
                    
                    <ul style='color:black; font-size:18px; display:inline-block;' class='text-justify' >
                         <li>Complete mechanical service</li>
                        <li>Diagnostics</li>
                        <li>Factory scheduled service</li>
                        <li>Filter replacement</li>
                        <li>Fluid maintenance</li>
                       
                    </ul>
                </div>
                <div class="col_one_third col_last  bottommargin-sm " data-animat_e="fadeIn" data-dela_y="0">
                   
                    
                        <ul style='color:black; font-size:18px; display:inline-block;' class='text-justify' >
                        <li>Fuel system and fuel savings</li>
                        <li>Minor services and oil changes</li>
                        <li>Mufflers and exhaust</li>
                        <li>Safety inspections</li>
                        <li>Shocks, struts and suspension</li>
                    </ul>
                </div>



            </div>
        </div>
        <!-- End of awards section -->