		<section id="slider" class="revslider-wrap clearfix">

			<div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic-carousel2" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">

					<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
					<div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
						<ul>	
							
							                            
                                     <!-- SLIDE  -->
							<li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="300" data-thumb="myimages/4s.jpg" data-delay="8000"  data-saveperformance="off" data-title="Fine Tuning">
								<!-- MAIN IMAGE -->
						<!--		<img src="images/slider/rev/ken-1.jpg"  alt="kenburns1"  data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120" data-bgpositionend="center top"> -->
                                
                                 <img src="myimages/4.jpg"  alt="kenburns1"  data-bgposition="bottom right"
                                      
                                      data-kenburns="on" data-duration="7800" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="108" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-10 0" data-bgparallax="10" class="rev-slidebg"  data-lazyload="myimages/4.jpg" >
                                
                        <!-- Data duration: How long the effects lasts
                             Data-delay : How long the image remains visible 
                                With the Ken burns effect the slider transitions don't work-->        
                                
                               <!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
									 id="slide-6-layer-1"
									 data-x="['center','center','center','center']" data-hoffset="['80','60','40','20']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-50','-20']"
												data-fontsize="['45','45','30','25']"
									data-lineheight="['60','50','40','35']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_out="x:inherit;y:inherit;"
									data-start="1000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5; white-space: nowrap; color:#262626">Life-long customers
								</div>
                                
<!--
                                		 LAYER NR. 1 
 						<div class="tp-caption medium_grey tp-resizeme rs-parallaxlevel-0"
 							 data-x="['center','center','center','center']" data-hoffset="['120','90','60','40']"
 							 data-y="['middle','middle','middle','middle']" data-voffset="['90','130','80','30']"
 data-transform_in="x:[300%];y:[10%];z:0;rX:-80deg;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:10;e:Power4.easeInOut;"
                              
 						data-start="10"
                              data-responsive_offset="on"
 						style="z-index: 1; ">&quot;Great Service, Great People, Great Location.  
 						                          <br/>Been doing business with them over 20
                                                  <br/>years. Did I say GREAT !!!&quot;
                                                  <br/>Dan Gauthier  
 								</div>
-->

							</li>
                            
                            
                      <!-- SLIDE  -->
							<li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="300" data-thumb="myimages/5s.jpg" data-delay="8000"  data-saveperformance="off" data-title="Fine Tuning">
								<!-- MAIN IMAGE -->
						<!--		<img src="images/slider/rev/ken-1.jpg"  alt="kenburns1"  data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120" data-bgpositionend="center top"> -->
                                
                                 <img src="myimages/5opt.jpg"  alt="kenburns1"  data-bgposition="bottom center"
                                      
                                      data-kenburns="on" data-duration="7800" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-100 0" data-bgparallax="10" class="rev-slidebg"  data-lazyload="myimages/5opt.jpg" >
                                
                        <!-- Data duration: How long the effects lasts
                             Data-delay : How long the image remains visible 
                                With the Ken burns effect the slider transitions don't work-->        
                                
                               <!-- LAYERS -->

								<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
									 id="slide-6-layer-1"
									 data-x="['center','center','center','center']" data-hoffset="['20','20','10','10']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['30','30','15','10']"
												data-fontsize="['45','45','30','25']"
									data-lineheight="['60','50','40','35']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_out="x:inherit;y:inherit;"
									data-start="1000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5; white-space: nowrap; color:#262626">Top-notch mechanics
								</div>

							</li>
                                    
                           <!-- SLIDE  -->
							<li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="300" data-thumb="myimages/6s.jpg" data-delay="8000"  data-saveperformance="off" data-title="Fine Tuning">
								<!-- MAIN IMAGE -->
						<!--		<img src="images/slider/rev/ken-1.jpg"  alt="kenburns1"  data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120" data-bgpositionend="center top"> -->
                                
                                 <img src="myimages/6opt.jpg"  alt="kenburns1"  data-bgposition="top center"
                                      
                                      data-kenburns="on" data-duration="7800" data-ease="Linear.easeNone" data-scalestart="120" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-50 -50" data-bgparallax="10" class="rev-slidebg"  data-lazyload="myimages/6opt.jpg" >
                                
                        <!-- Data duration: How long the effects lasts
                             Data-delay : How long the image remains visible 
                                With the Ken burns effect the slider transitions don't work-->        
                                
                               <!-- LAYERS -->

								<!-- LAYER NR. 1 -->
												<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
									 id="slide-6-layer-1"
									 data-x="['center','center','center','center']" data-hoffset="['-60','-50','-40','-20']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-20','-10']"
												data-fontsize="['45','45','30','25']"
									data-lineheight="['60','50','40','35']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_out="x:inherit;y:inherit;"
									data-start="1000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5; white-space: nowrap; color:#EDEDED">Experience you can trust
								</div>

							</li>
                             <!-- SLIDE  -->
							<li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="300" data-thumb="myimages/2s.jpg" data-delay="8000"  data-saveperformance="on" data-title="Performance">
								<!-- MAIN IMAGE -->
                                 <img src="myimages/2opt.jpg"  alt="kenburns1"  data-bgposition="right center" data-kenburns="on" data-duration="7800" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-100 0" data-bgparallax="10" class="rev-slidebg" data-no-retina data-lazyload="myimages/2opt.jpg">
                                <!-- LAYERS -->
	                           <!-- LAYER NR. 1 -->
										<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
									 id="slide-6-layer-1"
									 data-x="['center','center','center','center']" data-hoffset="['40','40','30','20']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['40','40','30','20']"
												data-fontsize="['45','45','30','25']"
									data-lineheight="['60','50','40','35']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_out="x:inherit;y:inherit;"
									data-start="1000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5; white-space: nowrap; color:#EDEDED">Prompt, reliable service
								</div>

							</li>
						</ul>
						<div class="tp-static-layers"></div>
						<div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
					</div>
				</div><!-- END REVOLUTION SLIDER -->

		</section>