		<section id="slider" class="revslider-wrap clearfix">

			<div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic-carousel2" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">

					<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
					<div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
						<ul>	
							
							                            
                                     <!-- SLIDE  -->
							<li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="300" data-thumb="myimages/4s.jpg" data-delay="8000"  data-saveperformance="off" data-title="Fine Tuning">
								<!-- MAIN IMAGE -->
						<!--		<img src="images/slider/rev/ken-1.jpg"  alt="kenburns1"  data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120" data-bgpositionend="center top"> -->
                                
                                 <img src="myimages/4.jpg"  alt="kenburns1"  data-bgposition="bottom right"
                                      
                                      data-kenburns="on" data-duration="8000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-200 80" data-bgparallax="10" class="rev-slidebg"  data-lazyload="myimages/4.jpg" >
                                
                        <!-- Data duration: How long the effects lasts
                             Data-delay : How long the image remains visible 
                                With the Ken burns effect the slider transitions don't work-->        
                                
                               <!-- LAYERS -->

								<!-- LAYER NR. 1 -->
						<div class="tp-caption medium_grey tp-resizeme rs-parallaxlevel-0"
							 data-x="['left','left','left','left']" data-hoffset="['60','60','40','20']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
data-transform_in="x:[300%];y:[10%];z:0;rX:-80deg;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             
						data-start="1000"
                             data-responsive_offset="on"
						style="z-index: 1; ">&quot;Great Service, Great People,   
						<br/>Great Location. Been doing
						<br/>business with them over 20 
						<br/>years. Did I say GREAT !!!&quot;   
						<br/>Dan Gauthier 
						

								</div>
							</li>
                            
                            
                      <!-- SLIDE  -->
							<li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="300" data-thumb="myimages/5s.jpg" data-delay="8000"  data-saveperformance="off" data-title="Fine Tuning">
								<!-- MAIN IMAGE -->
						<!--		<img src="images/slider/rev/ken-1.jpg"  alt="kenburns1"  data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120" data-bgpositionend="center top"> -->
                                
                                 <img src="myimages/5.jpg"  alt="kenburns1"  data-bgposition="bottom center"
                                      
                                      data-kenburns="on" data-duration="8000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-100 0" data-bgparallax="10" class="rev-slidebg"  data-lazyload="myimages/5.jpg" >
                                
                        <!-- Data duration: How long the effects lasts
                             Data-delay : How long the image remains visible 
                                With the Ken burns effect the slider transitions don't work-->        
                                
                               <!-- LAYERS -->

								<!-- LAYER NR. 1 -->
						<div class="tp-caption medium_grey tp-resizeme rs-parallaxlevel-0 text-justify"
							 data-x="['left','left','left','left']" data-hoffset="['60','60','40','20']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
data-transform_in="x:[300%];y:[10%];z:0;rX:-80deg;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             
						data-start="1000"
                             data-responsive_offset="on"
						style="z-index: 1">
                            
                        &quot;We have been using Foreign
                        <br/>Car Service for over 10 years
						<br/>and have had great service!!
						<br/>Won't go anywhere else!!!&quot;
						<br/>Denise Paquette
					

								</div>
							</li>
                                    
                           <!-- SLIDE  -->
							<li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="300" data-thumb="myimages/6s.jpg" data-delay="8000"  data-saveperformance="off" data-title="Fine Tuning">
								<!-- MAIN IMAGE -->
						<!--		<img src="images/slider/rev/ken-1.jpg"  alt="kenburns1"  data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120" data-bgpositionend="center top"> -->
                                
                                 <img src="myimages/6.jpg"  alt="kenburns1"  data-bgposition="top center"
                                      
                                      data-kenburns="on" data-duration="8000" data-ease="Linear.easeNone" data-scalestart="120" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-200 -250" data-bgparallax="10" class="rev-slidebg"  data-lazyload="myimages/6.jpg" >
                                
                        <!-- Data duration: How long the effects lasts
                             Data-delay : How long the image remains visible 
                                With the Ken burns effect the slider transitions don't work-->        
                                
                               <!-- LAYERS -->

								<!-- LAYER NR. 1 -->
						<div class="tp-caption medium_grey tp-resizeme rs-parallaxlevel-0"
							 data-x="['right','right','right','right']" data-hoffset="['40','30','20','10']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['50','40','30','20']"
data-transform_in="x:[-300%];y:[10%];z:0;rX:-80deg;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             
						data-start="1000"
                             data-responsive_offset="on"
						style="z-index: 1">&quot;Thanks to Dave and his team  
                        <br/>for fixing my VOLVO so quickly 
                        <br/>and giving me a loaner to boot
                        <br/>in such short notice.&quot;
                        <br/>Todd Tracy
						 
								</div>
							</li>
                             <!-- SLIDE  -->
							<li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="300" data-thumb="myimages/2s.jpg" data-delay="7000"  data-saveperformance="on" data-title="Performance">
								<!-- MAIN IMAGE -->
                                 <img src="myimages/2.jpg"  alt="kenburns1"  data-bgposition="right center" data-kenburns="on" data-duration="6800" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-150 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
	                           <!-- LAYER NR. 1 -->
								<div class="tp-caption medium_grey tp-resizeme rs-parallaxlevel-0 opaque"
							 data-x="['right','right','right','right']" data-hoffset="['40','30','20','10']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['50','40','30','20']"
data-transform_in="x:[-300%];y:[10%];z:0;rX:-80deg;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             
						data-start="1000"
                             data-responsive_offset="on"
		style="z-index: 1;">&quot;The mechanics at Foreign Car Service are
                        <br/>top notch, trustworthy, very experienced
                        <br/>and knowledgeable,especially with Volvo's!!!&quot;
                        <br/>Benita Lyons Davis
						 
								</div>
							</li>
						</ul>
						<div class="tp-static-layers"></div>
						<div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
					</div>
				</div><!-- END REVOLUTION SLIDER -->

		</section>