		<section id="slider" class="revslider-wrap clearfix">
            <div class='container clearfix'>
			<div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic-carousel2" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">

					<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
					<div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
						<ul>	
							
							                            
                                     <!-- SLIDE  -->
							<li class="dark" data-thumb="images/1s.jpg"  >
								<!-- MAIN IMAGE -->
                                 <img src="images/1.jpg"  alt=""  data-bgposition="center center"
                                      data-bgfit="cover"
                                        class="rev-slidebg"  data-lazyload="images/1.jpg" >
							</li>
                            <!-- SLIDE  -->
                            <li class="dark" data-thumb="images/2s.jpg"  >
								<!-- MAIN IMAGE -->
                                 <img src="images/2.jpg"  alt=""  data-bgposition="center center"
                                      data-bgfit="cover"
                                        class="rev-slidebg"  data-lazyload="images/2.jpg" >
							</li>
                            <!-- SLIDE  -->
                            <li class="dark" data-thumb="images/3s.jpg"  >
								<!-- MAIN IMAGE -->
                                 <img src="images/3.jpg"  alt=""  data-bgposition="center center"
                                      data-bgfit="cover"
                                        class="rev-slidebg"  data-lazyload="images/3.jpg" >
							</li>
                            <!-- SLIDE  -->
                            <li class="dark" data-thumb="images/4s.jpg"  >
								<!-- MAIN IMAGE -->
                                 <img src="images/4.jpg"  alt=""  data-bgposition="center center"
                                      data-bgfit="cover"
                                        class="rev-slidebg"  data-lazyload="images/4.jpg" >
							</li>

						</ul>
						<div class="tp-static-layers"></div>
						<div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
					</div>
				</div><!-- END REVOLUTION SLIDER -->
</div>
		</section>