<div class="section parallax dark nobottommargin" style="background-color:#1ABC9C !important">

					<div class="heading-block center">
						<h3>What our customers say</h3>
					</div>

					<div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
						<div class="flexslider">
							<div class="slider-wrap">
                                
                                  
								<div class="slide">
<!--
									<div class="testi-image">
										<a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
									</div>
-->
									<div class="testi-content">
										<p>Thanx to Dave and his team for fixing my VOLVO so quickly and giving me a loaner to boot in such short notice. Faithful customer for life.</p>
										<div class="testi-meta">
											Todd T. &nbsp;&nbsp; October 21, 2016
											<span style='color:#EEE'>Lewiston, Maine</span>
										</div>
									</div>
								</div>                              
                                
                                
 								<div class="slide">
<!--
									<div class="testi-image">
										<a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
									</div>
-->
									<div class="testi-content">
										<p>The mechanics at Foreign Car Service are top notch, trustworthy, very experienced and knowledgeable, especially with Volvo's!!!</p>
										<div class="testi-meta">
											Benita D. &nbsp;&nbsp; April 29, 2016
											<span style='color:#EEE'></span>
										</div>
									</div>
								</div>                                 
 								<div class="slide">
<!--
									<div class="testi-image">
										<a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
									</div>
-->
									<div class="testi-content">
										<p>Great Service, Great People Great Location Been doing business with them over 20 yrs. did I say GREAT!!!</p>
										<div class="testi-meta">
											Dan G. &nbsp;&nbsp; April 29, 2016
											<span style='color:#EEE'>Αuburn, Maine</span>
										</div>
									</div>
								</div> 
                                
                                
                                
                                
								<div class="slide">
<!--
									<div class="testi-image">
										<a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
									</div>
-->
									<div class="testi-content">
										<p>We have been using Foreign Car Service for over 10 years and have had great service!! Won't go anywhere else!!!</p>
										<div class="testi-meta">
											Denise P. &nbsp;&nbsp; April 23, 2016
											<span style='color:#EEE'>Lewiston, Maine</span>
										</div>
									</div>
								</div>
	                              
                                
                                
							</div>
						</div>
					</div>

				</div>


				


