<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
	============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/responsive.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
    <link rel="stylesheet" href="css/colors.css" type="text/css" />
    <link rel="stylesheet" href="/css/custom.css" type="text/css" />
    <!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/include/rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/include/rs-plugin/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/include/rs-plugin/css/navigation.css">


    <!-- Document Title
	============================================= -->
    <title>Volvo Specialist</title>

    <style>
        .demos-filter {
            margin: 0;
            text-align: right;
        }
        
        .demos-filter li {
            list-style: none;
            margin: 10px 0px;
        }
        
        .demos-filter li a {
            display: block;
            border: 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #444;
        }
        
        .demos-filter li a:hover,
        .demos-filter li.activeFilter a {
            color: #1ABC9C;
        }
        
        @media (max-width: 991px) {
            .demos-filter {
                text-align: center;
            }
            .demos-filter li {
                float: left;
                width: 33.3%;
                padding: 0 20px;
            }
        }
        
        @media (max-width: 767px) {
            .demos-filter li {
                width: 50%;
            }
        }
        
        .revo-slider-emphasis-text {
            font-size: 64px;
            font-weight: 700;
            letter-spacing: -1px;
            font-family: 'Raleway', sans-serif;
            padding: 15px 20px;
            border-top: 2px solid #FFF;
            border-bottom: 2px solid #FFF;
        }
        
        .revo-slider-desc-text {
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            width: 650px;
            text-align: center;
            line-height: 1.5;
        }
        
        .revo-slider-caps-text {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 3px;
            font-family: 'Raleway', sans-serif;
        }
        
        .tp-video-play-button {
            display: none !important;
        }
        
        .tp-caption {
            white-space: nowrap;
        }
        
        #callButton {
            position: fixed;
            top: auto;
            left: auto;
        }
        
        .dropcap2 {
            background: url(myimages/grey_back.png) no-repeat scroll 0 -108px transparent;
            color: #999;
            line-height: 47px;
            height: 56px;
            width: 53px;
            margin: 0 8px -4px 0;
            font-size: 32px;
            float: left;
            text-align: center;
            overflow: hidden;
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
        }
        
        .h3mod {
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 20px;
            font-style: normal;
        }
        
        h3 a:hover{
            color:green;
        } 
    </style>

</head>

<body class="stretched">
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="clearfix">
       <!-- Header
		============================================= -->
		<header id="header" class=" full-header" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger" style='text-align:left'><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo"  style='margin-left:5% !important'>
						<a href="home" class="standard-logo" ><img src="myimages/logo.png" alt="Logo"></a>
						
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="not-dark">

						<ul>
							<li class="current" ><a href="/"><div>Home</div></a>
							</li>
                            <li><a href="about" style="color: #1ABC9C"><div>About us</div></a></li>
						    <li><a href="faq" style="color: #1ABC9C"><div>FAQ</div></a></li>
                            <li><a href="awards" style="color: #1ABC9C"><div>Awards</div></a></li>
                            <li><a href="contact" style="color: #1ABC9C"><div>Contact</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

        <!-- #header end -->

        
        {{{body}}}



        <!-- Footer
		============================================= -->
        <footer id="footer" class="dark">
            <div class="container">

                <!-- Footer Widgets
				============================================= -->
                <div class="footer-widgets-wrap clearfix">

                    <div class="col_two_third">

                    <div class="col_one_third">

							<div class="widget clearfix">

								<img src="images/footer-widget-logo.png" alt="" class="footer-logo">

                                <p style = 'margin-bottom:15px'>We strive for <strong>Customer </strong><br> <strong>Satisfaction</strong></p>

								<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Address</strong><br>
                                        140 Riverside Dr <br>
										Auburn, ME 04210<br>
									</address>
                                    <abbr title="Phone Number"><strong>Phone:</strong></abbr> 207-782-9300<br>
									<abbr title="Fax"><strong>Fax:</strong></abbr> 207-782-9300<br>
                                    <abbr title="Email Address"><strong>Email:</strong></abbr>volvodave@roadrun</div>

							</div>

						</div>


                        <div class="col_one_third">

                            <div class="widget widget_links clearfix">

                                <h4>Useful Links</h4>

                                <ul class="list">
                                    <li><a href="http://www.ExtremeWrench.com"> ExtremeWrench.com</a></li>
                                    <li><a href="https://www.facebook.com/volvospecialistmaine/"> Our Facebook Page</a></li>
                                </ul>


                            </div>

                        </div>

                        <div class="col_one_third col_last">

                            <div class="widget clearfix">
                                <h4>Latest Volvo News</h4>
                                <div id="divRss1"></div>
                            </div>

                        </div>

                    </div>

                    <div class="col_one_third col_last">

                        <div class="widget clearfix" style="margin-bottom: -20px;">

                            <div class="row">

                                <div class="col-md-6 bottommargin-sm">
                                    <div class="counter counter-small"><span data-from="50" data-to="85000" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                                    <h5 class="nobottommargin">Cars serviced</h5>
                                </div>

                                <div class="col-md-6 bottommargin-sm">
                                    <div class="counter counter-small"><span data-from="10" data-to="120" data-refresh-interval="50" data-speed="1000" data-comma="true"></span></div>
                                    <h5 class="nobottommargin">Team's Repair Experience in Years</h5>
                                </div>

                            </div>

                        </div>

                        <div class="widget subscribe-widget clearfix">
                            <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
                            <div class="widget-subscribe-form-result"></div>
                            <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                                <div class="input-group divcenter">
                                    <span class="input-group-addon"><i class="icon-email2"></i></span>
                                    <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                                    <span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
                                </div>
                            </form>
                        </div>

                        <div class="widget clearfix" style="margin-bottom: -20px;">

                            <div class="row">

                                <div class="col-md-6 clearfix bottommargin-sm">
                                    <a href="https://www.facebook.com/volvospecialistmaine/" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="https://www.facebook.com/volvospecialistmaine/"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
                                </div>
                                <div class="col-md-6 clearfix">
                                    <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-rss"></i>
                                        <i class="icon-rss"></i>
                                    </a>
                                    <a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- .footer-widgets-wrap end -->

            </div>
            <!-- Copyrights
			============================================= -->
            <div id="copyrights">
                <div class="container clearfix">
                    <div class="col_half">
                        Copyrights &copy; 2016 All Rights Reserved by AutoRepairSites
                        <br>
                    </div>

                    <div class="col_half col_last tright">
                        <div class="clear"></div>
                        <i class="icon-envelope2"></i> stefanou@autorepairsites.net <span class="middot">&middot;</span>
                        <i class="icon-headphones"></i> 5136661272 <span class="middot">&middot;</span>
                    </div>

                </div>

            </div>
            <!-- #copyrights end -->

        </footer>
        <!-- #footer end -->

        <!-- Go To Top
	============================================= -->
        <div id="gotoTop" class="icon-angle-up"></div>


      
    </div>
    
      <!-- External JavaScripts
	============================================= -->
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/plugins.js"></script>

        <!-- Footer Scripts
	============================================= -->
        <script type="text/javascript" src="/js/functions.js"></script>
        <script type="text/javascript" src="/js/FeedEk.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#divRss1').FeedEk({
                    FeedUrl: 'https://www.media.volvocars.com/global/en-gb/rss/pressreleases/feed.rss',
                    MaxCount: 5,
                    ShowDesc: false,
                    DateFormat: 'MM-DD-YYYY'
                });
            });
        </script>


        {{{_sections.sliderRevolutionScripts}}}
       
    
</body>

</html>