
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Team</h1>
				<span>List of People who matter in Our Company</span>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">Shortcodes</a></li>
					<li class="active">Team</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap" style='padding-bottom:0px'>

				<div class="container clearfix">				

					<div class="clear"></div>

					<div class="fancy-title title-border">
						<h3>Our Team</h3>
					</div>

					<div class="row">

						<div class="col-md-6 bottommargin">

							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="images/mechanic1.png" alt="John Doe">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
									<div class="team-content">
										<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-gplus">
										<i class="icon-gplus"></i>
										<i class="icon-gplus"></i>
									</a>
								</div>
							</div>

						</div>

						<div class="col-md-6 bottommargin">

							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="images/mechanic2.jpg" alt="Nix Maxwell">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Nix Maxwell</h4><span>Support</span></div>
									<div class="team-content">
										<p>Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned giving.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-forrst">
										<i class="icon-forrst"></i>
										<i class="icon-forrst"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-skype">
										<i class="icon-skype"></i>
										<i class="icon-skype"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-flickr">
										<i class="icon-flickr"></i>
										<i class="icon-flickr"></i>
									</a>
								</div>
							</div>

						</div>

					</div>
                    					<div class="row">

						<div class="col-md-6 bottommargin">

							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="images/mechanic3.jpg" alt="John Doe">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
									<div class="team-content">
										<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-gplus">
										<i class="icon-gplus"></i>
										<i class="icon-gplus"></i>
									</a>
								</div>
							</div>

						</div>

						<div class="col-md-6 bottommargin">

							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="images/mechanic4.jpg" alt="Nix Maxwell">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Nix Maxwell</h4><span>Support</span></div>
									<div class="team-content">
										<p>Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned giving.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-forrst">
										<i class="icon-forrst"></i>
										<i class="icon-forrst"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-skype">
										<i class="icon-skype"></i>
										<i class="icon-skype"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-flickr">
										<i class="icon-flickr"></i>
										<i class="icon-flickr"></i>
									</a>
								</div>
							</div>

						</div>

					</div>
                    
                    
                    

					<div class="clear"></div>

					
				</div>

			</div>

		</section><!-- #content end -->


{{> testimonials}}
