
        <div class="container clearfix topmargin-sm bottommargin-sm">
            <div class="clearfix">

                <div class='col-xs -12 text-center'>
                    <h4>Awards</h4></div>

                <div class="col_one_third  bottommargin  text-center" data-animate="fadeIn" data-delay="200">

                    <i class="fa fa-trophy" style="font-size: 60px;color: red; font-weight: 100;padding-bottom: 15px"></i>

                    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                        <!--		<span class="before-heading">Scalable on Devices.</span> -->
                        <h4>LOREM IPSUM</h4>
                    </div>
                    <p style='color:black' class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat ornare urna, varius elementum mauris malesuada eget.</p>
                </div>

                <div class="col_one_third bottommargin text-center" data-animate="fadeIn" data-delay="200">
                    <i class="fa fa-trophy " style=" font-size: 60px; color: #40aae6;font-weight: 300;padding-bottom: 15px"></i>
                    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                        <!--	<span class="before-heading">Smartly Coded &amp; Maintained.</span> -->
                        <h4>HIGHLY TRAINED STAFF</h4>
                    </div>
                    <p style='color:black' class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat ornare urna, varius elementum mauris malesuada eget.</p>
                </div>
                <div class="col_one_third col_last bottommargin text-center" data-animate="fadeIn" data-delay="200">
                    <i class="fa fa-trophy color" style=" font-size: 60px; color: #40aae6;font-weight: 300;padding-bottom: 15px"></i>
                    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                        <!--	<span class="before-heading">Smartly Coded &amp; Maintained.</span> -->
                        <h4>BEST VOLVO REPAIR SHOP</h4>
                    </div>
                    <p style='color:black' class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>



            </div>
        </div>