		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>FAQs</h1>
				<span>All your Questions answered in one place</span>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">Pages</a></li>
					<li class="active">FAQs</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div id="faqs" class="faqs">

						<h3>Some of your Questions:</h3>

						<p > </p>

						<div class="divider"><i class="icon-circle"></i></div>

						<div class="col_half nobottommargin">

							<h4 id="faq-1"><strong>Q.</strong> How often should I have my car serviced?</h4>
							<p class="text-justify">It varies from model to model, but as a general rule you should change your oil every 7,500 thousand miles and perform the annual recommended factory scheduled maintenance.</p>

							<div class="line"></div>

							<h4 id="faq-2" class="text-justify"><strong>Q.</strong>The salesman at the dealership I purchased my new car from said that if I have you work on my car, It will void my warranty. Is this true?</h4>
							<p class="text-justify">False! Consumers are entitled to have their cars serviced wherever they choose. Always read your warranty to understand what constitutes a covered service item. As long as detailed records are kept (as we do here for all of our customers) and the service intervals are met with Genuine parts your warranty will never be void.</p>

							<div class="line"></div>

							<h4 id="faq-3" class="text-justify"><strong>Q.</strong> What is your policy on customer supplied parts?</h4>
							<p class="text-justify">We prefer not to install parts that a customer brings to our facility. There are several reasons for this. First, how does the customer know what part to supply? Who diagnosed what is wrong with the vehicle? Is the part the correct application ie correct chassis number or engine number? Many parts are different based on whether the car has ABS brakes etc. Is the part supplied up to our quality standards? We pride ourselves on quality work and that includes quality parts. In our opinion, bring your own parts is the same as taking your own food to a restaurant. However, that being said, we will install your parts but we do charge additional labor and there is no warranty!</p>


						</div>

						<div class="col_half nobottommargin col_last">

							<h4 id="faq-4" class="text-justify"><strong>Q.</strong> Will your company work on my car if I have an extended warranty?</h4>
							<p class="text-justify">Yes, we will work with all independent warranty companies. You won't even have to call them!</p>

							<div class="line"></div>

							<h4 id="faq-5" class="text-justify"><strong>Q.</strong>What should I know about my tires?</h4>
							<p class="text-justify">Don't fall into the TRAP of poor tire maintenance. T - Tread... Visually check your tread for uneven wear. Check for signs of damage. Your tires MUST be replaced when the tread is worn to 1/16 of an inch. A good way to check the tread is by inserting a penny into the groove. If you can see Lincoln's entire head, its time for new tires. R - Rotate... You should rotate your tires every 6000 - 8000 miles. This is the best way to insure even wear, and to get the maximum mileage from your tire investment. A - Alignment...Have your alignment checked regularly. Also check the balance of your tires. If your alignment and tire balance are off, you will experience irregular wear and the result will be premature replacement. P - Pressure... The proper air pressure for your vehicle is always specified in your owner's manual or sill panel. Under inflation is the biggest cause of tire failure. Always check your tire pressure between Summer and Fall, because a 10 degree drop in temperature corresponds to a 1 or 2 pound drop in tire pressure.</p>

							<div class="line"></div>

							<h4 id="faq-6" class="text-justify"><strong>Q.</strong>What should I know about my car's pollen filters?</h4>
							<p class="text-justify">Cabin Air Filters (Pollen Filters). Most late model European vehicles come standard with a cabin air filter. The purpose of these filters is to filter allergens, irritants and airborne particles. These can include bacteria, pollution, dust, odors and spores. The main benefit of these filters is passenger comfort, although failure to replace at the required 15,000 mile interval could impact the efficiency of the air conditioning and heating system. In addition no filter, clogged or missing filters may cause the premature corrosion of the A/C evaporator. Other symptoms that your filter may need to be replaced is the potential excess hazing of the windows. These filters are available and we recommend replacement every 15,000 miles. In heading into the summer season there are more of these particles in the air and keeping your A/C system in peak performance may require the replacement of these filters.
</p>

						</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->