<!-- Slider
		============================================= -->
		<section id="slider" class="revslider-wrap clearfix">
            <div class='container clearfix'>
			<div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic-carousel2" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">

					<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
					<div id="rev_slider_3_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
						<ul>	
							    <li class="dark" data-thumb="images/4s.jpg"  >
								<!-- MAIN IMAGE -->
                                 <img src="images/4.jpg"  alt=""  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" width="1900" height="600" >
							</li>
                            
                            <!-- SLIDE  -->
                            <li class="dark" data-thumb="images/3s.jpg"  >
								<!-- MAIN IMAGE -->
                                 <img src="images/3.jpg"  alt=""  data-bgposition="center center"
                                      data-bgfit="cover"
                                        class="rev-slidebg"  data-lazyload="images/3.jpg" >
							</li>
                            <!-- SLIDE  -->
                            
                               <!-- SLIDE  -->
                            <li class="dark" data-thumb="images/2s.jpg"  >
								<!-- MAIN IMAGE -->
                                 <img src="images/2.jpg"  alt=""  data-bgposition="center center"
                                      data-bgfit="cover"
                                        class="rev-slidebg"  data-lazyload="images/2.jpg" >
							</li>
							                            
                                     <!-- SLIDE  -->
							<li class="dark" data-thumb="images/1s.jpg"  >
								<!-- MAIN IMAGE -->
                                 <img src="images/1.jpg"  alt=""  data-bgposition="center center"
                                      data-bgfit="cover"
                                        class="rev-slidebg"  data-lazyload="images/1.jpg" >
							</li>
                            <li>
                               <img src="images/1.jpg"  alt="kenburns1"  data-bgposition="center center" data-kenburns="on" data-duration="8800" data-ease="Linear.easeNone" data-scalestart="105" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-offsetstart="200 0" data-offsetend="-200 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                            </li>
       
						</ul>
						<div class="tp-static-layers"></div>
						<div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
					</div>
				</div><!-- END REVOLUTION SLIDER -->
</div>
		</section>

<!-- END REVOLUTION SLIDER -->

<!-- Page Sub Menu
		============================================= -->
<!--
<div id="page-menu">
    <div id="page-menu-wrap">
        <div class="container clearfix">
            <div class="menu-title" style='text-align:right !important;'><span>Contact us today: </span></div>
            <nav>
                <ul>
                    <li>
                        <a href="tel:5136661272">
                            <div style='font-size:20px !important; font-weight:600;'>Call us</div>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:stefanou@autorepairsites.net">
                            <div style='font-size:22px !important; font-weight:600;'>Email us</div>
                        </a>
                    </li>
                </ul>
            </nav>
            <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
        </div>
    </div>
</div>
-->
<!-- #page-menu end -->

<!-- Content
		============================================= -->
<section id="content">
    <div class="content-wrap notoppadding topmargin nopadding">
 
        <div class="container clearfix topmargin-sm bottommargin-sm">
            <div class="clearfix">

                <div class="col_one_third nobottommargin">
                    <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" style='padding-left:5px'>
                        <h3 style="font-size:20px; font-weight:700; color:#333" data-delay="300" class='nobottommargin'>EXPERT REPAIR AND SERVICE</h3>
                    </div>
                    <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="300">

                        <p style='color:black' class='text-justify'><span class="dropcap2">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat ornare urna, varius elementum mauris malesuada eget. Quisque sapien elit, euismod vitae congue ac, aliquam ac lorem. Cras augue leo, scelerisque vitae risus non, ullamcorper lacinia velit. Aliquam ac velit commodo, vulputate odio eu, gravida justo. Pellentesque in mi in dolor faucibus hendrerit non a arcu. Ut eget euismod mauris. Fusce molestie velit nisi, eget volutpat purus sodales non. 
                        </p>

                    </div>
                </div>

                <div class="col_one_third nobottommargin">
                    <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="600" style='padding-left:5px'>
                        <h3 class='nobottommargin' style='font-size:20px; font-weight:700; color:#333;'>YOU ARE OUR TOP PRIORITY</h3>
                    </div>
                    <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="600">

                        <p style='color:black' class='text-justify'><span class="dropcap2">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat ornare urna, varius elementum mauris malesuada eget. Quisque sapien elit, euismod vitae congue ac, aliquam ac lorem. Cras augue leo, scelerisque vitae risus non, ullamcorper lacinia velit. Aliquam ac velit commodo, vulputate odio eu, gravida justo. Pellentesque in mi in dolor faucibus hendrerit non a arcu. Ut eget euismod mauris. Fusce molestie velit nisi, eget volutpat purus sodales non.
                        </p>

                    </div>
                </div>

                <div class="col_one_third col_last nobottommargin">
                    <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="900" style='padding-left:5px'>
                        <h3 class='nobottommargin text-center' style='font-size:20px; font-weight:700; color:#333;'>CURRENT RATINGS ON THE WEB</h3>
                    </div>


                    <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="900" style="padding-left:20px">

                        <div style="padding-left:20px">
                            <ul class="recent_posts_list">
                             
                                <li style = 'margin:20px'>
                                    <span><a href="#"><img src="/images/facebook.png" alt="" /></a></span>
                                    <a href="#"> </a>
                                    <i style='color:black'>5 Stars</i> <img src="/images/5stars.png" alt="" width="50" height="10" />
                                </li>
                                <li style = 'margin:20px' >
                                    <span><a href="#"><img src="/images/xwrench.png" alt="" /></a></span>
                                    <a href="#"> </a>
                                    <i style='color:black'>5 Stars</i> <img src="/images/5stars.png" alt="" width="50" height="10" />
                                </li>
                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section nobottommargin notopmargin nobottompadding notoppadding" style="background-color:#EFEFEF;">
            <div class="container clearfix topmargin-sm nobottommargin">
                <div class="clearfix">

                    <div class="col_one_third bottommargin-sm">

                        <h3 class='h3mod'>OUR ADDRESS</h3>
                        <p><a href="https://www.google.com/maps/place/Foreign+Car+Services+Co/@44.085401,-70.2189587,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb2695f87c0cfb3:0x1b74a9d4da759c96!8m2!3d44.085401!4d-70.21677">
			FOREIGN CAR SERVICE</a></p>
                        <p><a href="https://www.google.com/maps/place/Foreign+Car+Services+Co/@44.085401,-70.2189587,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb2695f87c0cfb3:0x1b74a9d4da759c96!8m2!3d44.085401!4d-70.21677">
			1635 Riverside Dr, Auburn, ME 04210</a></p>
                        <p><a href="tel:2077829300">207-782-9300</a></p>
                        <br/>

                        <h3 class='h3mod '>HOURS OF OPERATION</h3>
                        <p style='color:black'>The service department is open <br/>
                            <strong>Monday to Friday 7:00 AM to 5:00 PM</strong>       
                        </p>
                        <h3 class='h3mod ' style ='margin-bottom:20px; margin-top:20px;'>OUR SHOP HAS...</h3>
                        <ul class='leftmargin' style='margin-bottom:0px'>
                            <li>OEM Parts</li>
                            <li>Factory Trained Technician</li>
                            <li>Free Coffee</li>
                            <li>Wifi</li>
                            <li>Family Friendly</li>
                            <li>Pet Friendly</li>
                        </ul>    
                        <br/>
                        
                        <h3 class='h3mod' >COMMUNITIES WE SERVE</h3>
                        <ul class='leftmargin nobottommargin'>
                            <li>Auburn</li>
                            <li>Portland</li>
                            <li>Lewiston</li>
                            <li>Lisbon Fails</li>
                        </ul>    
     
                    </div>

                    <div class="col_two_third col_last bottommargin-sm">

                        <h3 class='h3mod'>MAP &amp; DRIVING DIRECTIONS</h3>
                        <a href="https://www.google.com/maps/place/Foreign+Car+Services+Co/@44.0847064,-70.2168665,16z/data=!4m5!3m4!1s0x0:0x1b74a9d4da759c96!8m2!3d44.0854012!4d-70.2167706">
                            <img class="img img-responsive" alt="Foreign Car Service Directions" longdesc="Foreign Car Service Directions" src="/images/map.png" ></a>

                    </div>

                </div>
            </div>
        </div>
            
    {{> awards}}
    
    {{> testimonials}}
        
    {{> servicesWeOffer}}
        
        
        

    </div>
</section>
<!-- #content end -->

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="/include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="/include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="/include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="/include/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="/include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="/include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="/include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="/include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>



	<script type="text/javascript">
		var tpj=jQuery;
		var revapi2;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_3_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_3_1");
			}else{
				revapi2 = tpj("#rev_slider_3_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"include/rs-plugin/js/",
					sliderLayout:"auto", //available options are auto, fullwidth, Full Screen 
					dottedOverlay:"none",
					delay:9000,
					navigation: {
						keyboardNavigation:"off",
						keyboard_direction: "horizontal",
						mouseScrollNavigation:"off",
						onHoverStop:"off",
						arrows: {
							style:"erinyen",
							enable:true,
							hide_onmobile:true,
							hide_under:600,
							hide_onleave:true,
							hide_delay:200,
							hide_delay_mobile:1200,
							tmp:'<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div>    <div class="tp-arr-img-over"></div>	<span class="tp-arr-titleholder">{{title}}</span> </div>',
							left: {
								h_align:"left",
								v_align:"center",
								h_offset:30,
								v_offset:0
							},
							right: {
								h_align:"right",
								v_align:"center",
								h_offset:30,
								v_offset:0
							}
						}
						,
						thumbnails: {
							style:"gyges",
							enable:true,
							width:45,
							height:45,
							min_width:45,
							wrapper_padding:0,
							wrapper_color:"transparent",
							wrapper_opacity:"1",
							tmp:'<span class="tp-thumb-img-wrap">  <span class="tp-thumb-image"></span></span>',
							visibleAmount:4,
							hide_onmobile:true,
							hide_under:800,
							hide_onleave:false,
							direction:"horizontal",
							span:false,
							position:"inner",
							space:5,
							h_align:"right",
							v_align:"bottom",
							h_offset:60,
							v_offset:20
						}
					},
					carousel: {
						horizontal_align: "center",
						vertical_align: "center",
						fadeout: "off",
						maxVisibleItems: 3,
						infinity: "on",
						space: 0,
						stretch: "on"
					},
					viewPort: {
						enable:false,
						outof:"pause",
						visible_area:"20%"
					},
					responsiveLevels:[1240,1024,778,480],
					gridwidth:[1240,1024,778,480],
					gridheight:[600,600,500,400],
					lazyLoad:"on",
					parallax: {
						type:"mouse",
						origo:"slidercenter",
						speed:2000,
						levels:[2,3,4,5,6,7,12,16,10,50],
					},
					shadow:5,
					spinner:"off",
					stopLoop:"off",
					stopAfterLoops:-1,
					stopAtSlide:-1,
					shuffle:"off",
					autoHeight:"off",
					hideThumbsOnMobile:"on",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/
	</script>